<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.htf.drdshsdklibrary">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity android:name=".Activities.CameraActivity"
            android:exported="false"/>
        <activity android:name=".Activities.TypeMessageActivity"
            android:exported="false"/>
        <activity android:name=".Activities.UserDetailActivity"
            android:exported="false"/>
        <activity
            android:name=".Activities.ChatActivity"
            android:exported="false"
            android:screenOrientation="userPortrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/CropTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.htf.drdshsdklibrary.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>